.itemsCard {
    max-width: fit-content;
    width: 221px;
     /* width: 256px; */
     border-radius: 9px;
     border: 2px solid orchid;
     height:  462px;
}
.productImg {
    border-radius: 9px;
    border: 2px solid orchid;
}