.products__container {
    background-color: #FFF8FD;
    border-radius: 30px;
}
.filter {
    border-radius: 10px;
}
.filterDropdown {
    position: relative;
}
.all {
    position: relative;
}
.dropDown {
    position: absolute;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 9px 9px;
    z-index: 10000;
    right: -4.3rem;
}
.extraMargin {
    margin-top: 20rem;
}